@import 'partials/variables';
@import 'partials/colors';
@import 'partials/makeupTab';
@import 'partials/setupTab';
@import 'partials/deleteOrEditList';



body {
	background-color: $black;
	font-family: "Kalam", 'Comic Sans MS', 'cursive';
	// font-family: 'Comic Sans MS';
	color: $white;
	font-weight: 300;
}

.btn {
	border: 0 !important; 
}

a {
	color: $primary_dark;
	text-decoration: none !important;
	:active {
		text-decoration: none !important;
	}
}

.highlight {
	color: yellow;
	font-size: 1.1rem;
}

#disclaimer {
	color: $black;
}

ul {
	list-style: none;
	padding-left: 0;
}

dt {
 	font-size: larger;
}

dl .col-10 {
	padding-right: 0;
}

dl .col-2 {
	padding-left: 0;
}

#aboutModal {
	background-color: $black;
}

.navbar {
	background: linear-gradient(to top, $blueBackground, $black 120%);
	font-family: 'Dancing Script', cursive;
}

.navbar i {
	margin-top: 6px;
}

.navbar a {
	font-size: 1.5rem;
}

#navlinks a {
	color: $white;
}

#navlinks {
	padding: 1rem;
	background: linear-gradient($black, $blueBackground);
}

.navbar-brand {
	text-align: center;
}

.navbar-toggler {
	border: none;
}

.fa-exclamation-circle {
	color: red;
}

#competitions {
	padding-top: 1rem;
	padding-bottom: 0;
	text-align: center;
}

.comp {
	padding: 1.5rem;
	margin-bottom: 2rem;
	background: radial-gradient($blueBackground, $black 80%);
	p {
		margin-bottom: 0;
	}
	a {
		color: aqua;
	}
	h4 {
		display: inline-block;
	}
	i {
		margin-left: .3rem;
		font-size: .5rem;
	}
}

.hotel {
	margin-top: 1rem;
}

.stream {
	padding-top: 2rem;
	a {
		color: yellow;
		padding-top: 1rem;
	}
}

.schedule {
	/*background: #eee;	*/
	color: yellow;
  	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 17px 15px;
	border: 2px solid yellow;
	border-radius: 45%;
	font-size: 1.2rem;
}

.front_page_schedule {
	background: radial-gradient($blueBackground, $black 80%);	
	color: yellow;
  	display: inline-block;
	margin-top: 10px;
	margin-bottom: -5px;
	padding: 20px 20px;
	border-radius: 45%;
	font-size: 1.2rem;
	h5 {
		margin: 0;
	}
}

.revised {
	font-size: .9rem;
	padding: 0;
	font-weight: 300;
	margin: 0;
}

.front_page_schedule:link,
.front_page_schedule:hover,
.front_page_schedule:visited,
.front_page_schedule:focus {
	color: yellow;
}

.nav-tabs {
  font-size: 1.2rem;
	border-bottom: 3px solid $blueBackground;
	background-color: $white;
	margin-bottom: .5rem;
	.active {
		background-color: $whiteActive !important;
		font-size: 1.3rem;
		font-weight: bolder; 
	}
}

.dance-container {
	padding-top: 10px;
	background: radial-gradient($blueBackground, $black 80%);
}

.dance-container dl {
	border-top: 1px solid $white;
	padding-top: 5px;
}

.dance-container dd ul li {
	padding-bottom: 7px;
}

.dance-body {
	font-weight: 300;
}

.dance-header {
	text-align: center;
	/*border-bottom: 1px solid white;*/
	margin-bottom: 10px;
}

.dance-header p {
	margin-bottom: 5px;
}

.dance-header-title {
	flex: 2;
}

.time {
	color: yellow;	
}

.time h5 {
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
	display: inline;
}

#custom_input_container,
#edit_custom_container {
	display: none;
}

#editCustom, 
#createCustom			{
	color:$black;
}

#showEntry i,
#showEditEntry i {
	margin-right: 3px;
	color: red;
}

input::-webkit-input-placeholder {
	color: darkgrey !important;
}

#customNotesList input,
#editCustomNotesList input {
	margin-bottom: 5px;
}

#numTimeDiv,
#editNumTimeDiv {
	display: none;
}

#addNoteInput,
#editAddNoteInput {
	color: red;
}

#footer {
	font-family: monospace;
	margin-top: 4rem;
}

#footer a {
	color: inherit;
	font-size: 1.25rem;
}


/*** iphone 5 media query ***/

@media screen and (max-width: 370px) {
	.nav-tabs {
		font-size: 1rem;
	}
	
	dt {
		font-size: 1rem;
	}
	
	dd {
		padding-top: 0;
	}

	.time h5 {
		font-size: 1rem;
		font-weight: 300;
	}
}


[data-toggle~="collapse"] {
    cursor: pointer;
}


