@import "partials/colors";
@import "partials/makeupTab";
@import "partials/setupTab";
@import "partials/deleteOrEditList";
@import "partials/utilities";
@import "partials/dance-container";
@import "partials/footer";

html {
  height: 100%;
}

body {
  background-color: $black;
  font-family: "Kalam", "Comic Sans MS", "cursive";
  color: $white-text;
  font-weight: 400;
  letter-spacing: 0.6px;
  position: relative;
  min-height: 100%;
}

.btn {
  border: 0 !important;
}

a {
  color: $blue-text;
  text-decoration: none !important;
  :active {
    text-decoration: none !important;
  }
  :hover {
    color: $anchor-hover;
  }
}

.card-header a:hover {
  color: $anchor-hover;
}

.highlight {
  color: $highlight;
  font-size: 1.1rem;
}

#disclaimer {
  color: $black;
  ul {
    list-style: disc;
    padding-right: 5px;
    margin-left: 5px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

dt {
  font-weight: 500;
}

dl .col-10 {
  padding-right: 0;
}

dl .col-2 {
  padding-left: 0;
}

#aboutModal {
  background-color: $black;
}

.navbar {
  background: linear-gradient(to top, $blueGradient, $black 120%);
  font-family: "Dancing Script", cursive;
  i {
    margin-top: 6px;
  }
  a {
    font-size: 1.5rem;
  }
}

#navlinks {
  padding: 1rem;
  background: linear-gradient($black, $blueGradient);
  a {
    color: $white;
  }
}

.navbar-brand {
  text-align: center;
}

.navbar-toggler {
  border: none;
}

.fa-exclamation {
  color: $secondary_neutral_dark;
  font-size: 1.1rem;
}

#competitions {
  padding-top: 1rem;
  padding-bottom: 0;
  text-align: center;
  max-height: 400px;
  overflow: scroll;
}

.comp {
  padding: 1.5rem;
  margin-bottom: 2rem;
  background: radial-gradient($blueGradient, $black 80%);
  p {
    margin-bottom: 0;
  }
  a {
    color: aqua;
  }
  h4 {
    display: inline-block;
  }
  i {
    margin-left: 0.3rem;
    font-size: 0.5rem;
  }
}

.hotel {
  margin-top: 1rem;
}

.nav-tabs {
  font-size: 1.2rem;
  border-bottom: 3px solid $blueBackground;
  background-color: $primary-white;
  margin-bottom: 0.5rem;
  .nav-link {
    padding: 0.5em 0.6em;
  }
  .nav-link.active {
    color: $blueBackground;
  }
  .active {
    background-color: $whiteActive !important;
    font-size: 1.3rem;
    font-weight: bolder;
  }
}

#custom_input_container,
#edit_custom_container {
  display: none;
}

#editCustom,
#createCustom {
  color: $black;
}

#editNumTimeDiv,
#numTimeDiv {
  span {
    font-size: 0.5em;
  }
}

#showEntry i,
#showEditEntry i {
  margin-right: 3px;
  color: red;
}

input::-webkit-input-placeholder {
  color: darkgrey !important;
}

#customNotesList input,
#editCustomNotesList input {
  margin-bottom: 5px;
}

#numTimeDiv,
#editNumTimeDiv {
  display: none;
}

#addNoteInput,
#editAddNoteInput {
  color: red;
}

.wrapper {
  padding-bottom: 90px;
}

//** comp time add-ons **//
.stream {
  padding-top: 2rem;
  a {
    color: $highlight;
    padding-top: 1rem;
  }
}

.schedule {
  /*background: #eee;	*/
  color: $highlight;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 17px 15px;
  border: 2px solid $highlight;
  border-radius: 45%;
  font-size: 1.2rem;
}

.front_page_schedule {
  button,
  a {
    background-color: $highlight-cool;
    // color: $blueGradient;
  }
  background: radial-gradient($blueGradient, $black 80%);
  color: $highlight;
  display: inline-block;
  padding: 20px 20px;
  border-radius: 45%;
  font-size: 1.2rem;
  h5 {
    margin: 0;
  }
}

.revised {
  font-size: 0.9rem;
  padding: 0;
  font-weight: 300;
  margin: 0;
}

.front_page_schedule:link,
.front_page_schedule:hover,
.front_page_schedule:visited,
.front_page_schedule:focus {
  color: $highlight;
}

/*** iphone 5 media query ***/

@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
  .nav-tabs {
    font-size: 1rem;
  }

  .dance-header .name {
    max-width: 71%;
  }

  dd {
    padding-top: 0;
  }

  .time h5 {
    font-size: 1rem;
    font-weight: 300;
  }
}

[data-toggle~="collapse"] {
  cursor: pointer;
}
