
#setup {
	color: rgb(30,30,30);
	background: rgb(240, 240, 240);
}

#setup label {
	padding-bottom: 1rem;
}

#setupButtons {
	padding-bottom: 1rem;
}

.dance__delete {
  color: $red;
  display: none;
}