@function mix-neutral($color) {
	@if (is-highest-key-value($color)) {
		@if is-high-key-value(complement($color)) {
			@return mix(complement($color), $color, 19%);
		}
		@else {
			@return mix(complement($color), $color, 13%);
		}
	}
	@else if (is-high-key-value($color)) {
		@if is-high-key-value(complement($color)) {
			@return mix(complement($color), $color, 31%);
		}
		@else {
			@return mix(complement($color), $color, 23%);
		}
	}
	@else {
		@if is-highest-key-value(complement($color)) {
			@return mix(complement($color), $color, 31%);
		}
		@if is-high-key-value(complement($color)) {
			@return mix(complement($color), $color, 26%);
		}
		@else {
			@return mix(complement($color), $color, 23%);
		}
	}
}

$lime: hsl(120, 100%, 50%);
$darkgreen: hsl(120, 100%, 25%);
$pastelgreen: hsl(120, 75%, 75%);
$violet: rgb(203, 14, 255);
$hello: #FFC40E;
$red: 	 	hsl(355, 100%, 50%);
$orange: 	hsl(20, 100%, 50%);
$opp_d_indigo: hsl(54, 70%, 30%);
$yellow: 	hsl(60, 23%, 86%);
$green:  	hsl(120, 100%, 50%);
$cyan:   	hsl(180, 100%, 50%);
$dark_indigo: hsl(235, 66%, 30%);
$blue:   	hsl(240, 94%, 43%);
$pink: 	hsl(300, 100%, 50%);

$blueBackground:   	hsla(240, 67%, 53%, 0.7);
$first-color: $blueBackground;

$black: hsl(0, 0%, 11%);
$primary-white: hsl(240, 50%, 97%);
$white: hsl(240, 40%, 97%);
$whiteActive: hsl(240, 24%, 98%);

$anchor-hover: lighten($first-color, 15%);
$primary-light: lighten($first-color, 30%);

$primary-bold: hsl(240, 90%, 40%);
$primary_dark: darken($first-color, 20%);

$primary_neutral: mix-neutral($first-color);
$primary_neutral_dark: darken($primary_neutral, 35%);
$primary_neutral_light: lighten($primary_neutral, 35%);

$second-color: complement($first-color);
$secondary_neutral: mix-neutral($second-color);
$secondary_neutral_dark: darken($secondary_neutral, 35%);
$secondary_neutral_light: lighten($secondary_neutral, 35%);

.btn-primary {
	color: $black;
	background-color: $primary-light;
}

.btn-danger {
	background-color: $secondary_neutral_dark;
	color: $white;
}

.card-header {
	background-color: $white;
}