#deleteOrEditModal {
  color: #1e1e1e;
  .modal-header {
    padding: 10px 15px;
  }
  .modal-body {
    padding-bottom: 0;
  }
  .modal-footer {
    justify-content: space-between;
    border-top: none;
  }
}

#edit-delete-list {
  li button:first-child {
    margin-left: auto; 
  }
  li button + button {
  margin-left: 1rem; 
  }
  p {
    padding-left: 1rem;
    margin-top: .5rem;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
  }
}

.restore{
  background-color: $secondary_neutral_light;
}

.deleteOrEditList__message {
  padding: .5rem 0;
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
}

#showRestoreList {
  background-color: rgb(244, 224, 224);
}

.restoreButton-hide {
  display: none;
  background-color: rgb(244, 224, 224);
}

.restore {
  display: none;
}