
#setup {
	color: $black;
	background: $white;
	font-weight: 400;
}

#setup label {
	padding-bottom: 1rem;
}

#setupButtons {
	padding-bottom: 1rem;
}

.dance__delete {
  color: $red;
  display: none;
}

#addStudioNote {
	display: none;
	padding: 1rem 0;
} 

#addStudioNotes-buttons {
	display: flex;
	justify-content: space-around;
}

#addStudioNote {
	li {
		margin-bottom: .25rem;
		span {
			font-size: 1.25rem;
		}
	}
	
}